.competidor-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  width: 420px;
  text-align: center;
  margin: 0 auto;
}

.competidor-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  margin-bottom: 12px;
}

.competidor-name {
  font-size: 26px;
  font-weight: bold;
}

.competidor-desc {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.competidor-stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.competidor-stats div {
  text-align: center;
}

.btn-primary {
  background: #17a2b8;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  transition: .2s;
}

.btn-primary:hover {
  background: #138496;
}

.competidor-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
