.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #111827;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar a:hover {
  background-color: #1f2937;
}
